* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.player-container{
    flex-shrink: 0;
    padding: 1rem 0;
    background-color: #282828;

}
.flex-grow{
    flex-grow: 1;

}

.d-flex{
    display: flex;
}

.flex-dir-column{
    flex-direction: column;
}

.main-box{
    background-color: #141922;
    
}

.sidebar{
    width: 200px;
    background-color: black ;
    color: #fff;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    padding-left: 0.5rem;
    

}

.top-bar{
    background-color: #080B12;
    flex-shrink: 0;
    padding: 1rem 0;
}

.btn-top-bar{
    color: white;
    background-color: #1b1b1b;
    border-radius: 10px;
    padding: 0.5rem;
    float: right;
    font-size: 10px;
    font-family: montserrat;
}
.btn-sidebar{
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-left: 10px;
    border: none;

    
    

}  

.img-btn-sidebar-plus{
    width: 40px;
    background: grey;;
}

.playlist-txt{
    color: white;
    font-size: 16px;
    padding-top: 2rem;
    padding-left: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.logo-sidebar{
    width: 130px;
    padding-top: 20px;
    padding-left: 8px;
}
.img-btn-sidebar{
    width: 25px;
}

.overflow-hidden{
    overflow: hidden;
}

.overflow-auto{
    overflow: auto;
}


@media screen and { (max-width: 1100px)
    
}